# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Project-specific
front-test/

# IDE and editor files
.vscode/
*.vscode/*
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend specific
# dependencies
Frontend/node_modules
/node_modules

# next.js
Frontend/.next/
Frontend/out/
/.next/
/out/

# production
Frontend/build/
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Backend specific - Python
# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/*
*.pyc*
*cpython*
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Terraform
*.tfstate
*.tfstate.*
.terraform.tfstate
.terraform/
*.terraform.lock.hcl

# Database files
*.db
*.sqlite3

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Celery stuff
celerybeat-schedule

# mypy, pyre, pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
